.vscode/
build/
Logs/*.log
src/__pycache__
*/*/__pycache__
.git
*/__pycache__
__pycache__
python_env
lib
dist/
Temp/
Output/
bin
external/implementations 
external/random_generator
results
examples/data/
examples/test.py
examples/*.txt
examples/*.csv
examples/.DS_Store
.DS_Store
minionpy/lib
minionpy.egg-info
examples/test.py
_skbuild
venv
minionpy-*
env
docs/build 
docs/source/_static 
docs/source/_template
docs/source/minionpy/.ipynb_checkpoints 
docs/xml

docs/.doctrees/
docs/.buildinfo
docs/source/.autosummary/

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo

docs/source/_static/*.tmp
docs/source/_templates/*.tmp
eigen


