.vscode/
build/
Logs/*.log
src/__pycache__
*/*/__pycache__
.git
*/__pycache__
__pycache__
python_env
lib
dist/
Temp/
Output/
bin
external/implementations 
external/random_generator
results
examples/data/
examples/test.py
examples/*.txt
examples/*.csv
examples/.DS_Store
.DS_Store
pyminion/lib
pyminion.egg-info
examples/test.py

