*.code-workspace
log/*
cmake_install.cmake
CMakeFiles
MakeFile
*.swp
*.o
CMakeCache.txt
Makefile_mem
cmake-buil-debug/
cmake-build-debug
doc/.DS_Store
.DS_Store
*.png
*.ai
doc/html
doc/latex
.ipynb_checkpoints
*.trace
*.mod
Makefile

doc/fit_dummy*
doc/doxy/html/
doc/doxy/latex
.vscode/
